//引用字型

//微軟正黑體修正
@font-face
	font-family: '微軟正黑體修正'
	unicode-range: U+7db0, U+78A7, U+7B75
	font-style: normal
	font-weight: bold
	src: local(MS Gothic), local(Yu Gothic)

@font-face
	font-family: '微軟正黑體修正'
	unicode-range: U+7db0, U+78A7, U+7B75
	font-style: normal
	font-weight: normal
	src: local(微軟正黑體), local(Microsoft JhengHei)

//微軟正黑體粗體
@font-face
	font-family: 'JhengHei-Bold'
	font-style: normal
	font-weight: normal
	src: local('Microsoft JhengHei UI Bold'),local('Microsoft JhengHei UI 粗體'),local('Microsoft JhengHei Bold'),local('Microsoft JhengHei 粗體')