extends ../layouts/_template.pug

block page
  - const page = 'error/404';
  - const css = '404';

block fontSheet
  link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jost:wght@400;600&family=Noto+Sans+TC&display=swap")

block navbar

block content
  .content
    .inner
      .title Sorry, Page Not Found
      .error-code._404 404
        svg.cat(width='257' height='192' viewbox='0 0 257 192' fill='none' xmlns='http://www.w3.org/2000/svg')
          g(clip-path='url(#clip0_501_4721)')
            path(d='M131.265 69.1901C143.813 75.5656 148.206 92.8377 151.387 101.931C153.306 107.392 154.442 113.259 153.533 119.406C152.599 125.553 150.049 131.014 146.363 135.459L128.21 157.329C126.972 158.827 126.266 160.758 126.341 162.866C126.442 164.974 127.326 166.828 128.689 168.2L140.026 179.605L143.838 179.224C145.101 179.097 146.413 179.402 147.55 180.138C148.686 180.9 149.469 181.967 149.872 183.186L152.195 190.222H129.447L101.825 167.336L106.926 148.413C107.683 145.619 107.885 142.622 107.43 139.599C106.976 136.551 105.89 133.757 104.325 131.319L99.1491 123.14C96.6748 119.228 94.7307 114.86 93.5441 110.084C92.3322 105.335 88.2925 90.2469 98.9471 75.4894C102.431 70.6633 115.661 61.2906 131.239 69.1647L131.265 69.1901Z' fill='#B55F00')
            path(d='M149.872 183.186C149.469 181.992 148.686 180.9 147.55 180.138C146.413 179.402 145.101 179.097 143.838 179.224L140.026 179.605L130.002 169.521L115.055 178.284L129.472 190.222H152.221L149.898 183.186H149.872Z' fill='#CFB67F')
            path(d='M211.099 83.211C207.817 84.7604 204.863 87.0718 202.464 90.1199C200.091 93.1679 198.551 96.6223 197.844 100.204L190.471 136.856L211.73 185.269C211.983 186.768 212.74 188.165 213.977 189.231C215.214 190.273 216.729 190.781 218.219 190.781H234.049L233.949 187.479C233.898 186.26 233.418 185.091 232.509 184.151C231.6 183.212 230.414 182.729 229.227 182.678L227.838 182.602L215.366 140.107L232.989 117.425C235.287 114.479 236.978 110.973 237.887 107.087C238.771 103.201 238.72 99.3147 237.938 95.6317L237.71 94.5395C236.6 89.4595 233.292 84.9128 228.293 82.4236C223.294 79.9598 217.689 80.0868 213.018 82.2966L211.099 83.211Z' fill='#B55F00')
            path(d='M232.56 184.151C231.651 183.212 230.464 182.729 229.278 182.678L227.889 182.602L222.713 164.949H202.868L211.806 185.269C212.058 186.768 212.816 188.165 214.053 189.231C215.29 190.273 216.805 190.781 218.295 190.781H234.125L234.024 187.479C233.974 186.26 233.494 185.091 232.585 184.151H232.56Z' fill='#CFB67F')
            path(d='M94.0995 63.2973C94.0995 63.2973 75.012 62.0781 58.3483 90.2723C50.7486 103.15 53.7531 136.628 41.6845 145.441C39.9677 146.686 38.1498 147.6 36.2815 148.286C28.909 151.004 20.7792 149.607 14.5176 148.032C7.22094 146.203 0.78269 153.9 0.176736 159.056C-1.76736 175.414 10.1245 192 46.1535 192C50.5971 192 54.5358 191.416 58.0453 190.349C58.0453 190.349 58.0453 190.298 58.02 190.273C98.6947 177.751 79.4809 98.8321 79.4809 98.8321L94.0995 63.2973Z' fill='#D46E03')
            path(d='M34.0596 148.896C27.3184 150.649 20.1732 149.429 14.5429 148.032C7.24619 146.203 0.807937 153.9 0.201984 159.056C-1.51488 173.407 7.52392 187.885 34.0596 191.238V148.896Z' fill='#E8DBBE')
            path(d='M246.421 48.1588L248.188 79.5788C248.517 85.2938 247.633 91.1613 245.335 96.8255C243.063 102.464 239.604 107.316 235.413 111.177L202.54 138.075L103.29 144.603C103.29 144.603 72.8407 111.786 77.3096 87.2496C80.1373 71.7809 91.1202 63.1957 102.229 58.776C122.832 51.4354 166.814 63.0179 197.263 59.5888L198.879 48.1588H246.396H246.421Z' fill='#D46E03')
            path(d='M247.254 63.0179H208.246C208.246 63.0179 229.757 92.7107 225.288 101.728C222.587 107.189 219.557 112.218 215.366 116.079L187.265 139.066L202.54 138.075L235.413 111.177C239.604 107.316 243.063 102.49 245.335 96.8255C247.633 91.1613 248.517 85.2938 248.188 79.5788L247.254 63.0179Z' fill='#E8DBBE')
            path(d='M198.122 83.211C194.839 84.7604 191.86 87.0718 189.487 90.1199C187.113 93.1679 185.573 96.6223 184.866 100.204L177.494 136.856L185.75 185.269C186.002 186.768 186.76 188.165 187.997 189.231C189.234 190.273 190.749 190.781 192.264 190.781H208.094L207.968 187.479C207.918 186.26 207.463 185.091 206.529 184.151C205.62 183.212 204.434 182.729 203.222 182.678L201.833 182.602L202.363 140.107L219.986 117.425C222.284 114.479 223.976 110.973 224.859 107.087C225.743 103.201 225.692 99.3147 224.91 95.6317L224.657 94.5395C223.546 89.4595 220.239 84.9128 215.24 82.4236C210.241 79.9598 204.635 80.0868 199.965 82.2966L198.046 83.211H198.122Z' fill='#D46E03')
            path(d='M206.554 184.151C205.645 183.212 204.459 182.729 203.247 182.678L201.858 182.602L202.085 165.025H182.316L185.775 185.244C186.028 186.742 186.785 188.139 188.022 189.206C189.259 190.247 190.774 190.755 192.289 190.755H208.12L207.994 187.453C207.943 186.234 207.489 185.066 206.554 184.126V184.151Z' fill='#E8DBBE')
            path(d='M120.004 69.1901C132.552 75.5656 136.945 92.8377 140.127 101.931C142.046 107.392 143.207 113.259 142.273 119.406C141.364 125.553 138.789 131.014 135.102 135.459C135.102 135.459 122.605 148.439 109.198 159.234C104.35 163.12 104.476 167.743 104.729 169.724C105.31 174.55 106.042 179.63 106.042 179.63L109.854 179.249C111.117 179.122 112.43 179.427 113.566 180.164C114.702 180.926 115.51 181.992 115.914 183.212L118.237 190.247H92.9634L84.7577 166.193C84.2528 165.076 84.076 163.806 84.278 162.485C84.48 161.164 85.0607 160.047 85.8939 159.132C85.8939 159.132 96.5738 148.921 96.1951 139.599C96.0689 136.526 94.655 133.757 93.0896 131.319L87.9137 123.14C85.4394 119.228 83.4953 114.86 82.2834 110.084C81.0715 105.335 77.0318 90.2469 87.6865 75.4894C91.1707 70.6633 104.401 61.2906 119.979 69.1647L120.004 69.1901Z' fill='#D46E03')
            path(d='M113.541 180.138C112.404 179.402 111.091 179.097 109.829 179.224L106.017 179.605C106.017 179.605 105.284 174.55 104.704 169.699C104.653 169.241 104.603 168.632 104.628 167.946H85.3637L92.9634 190.222H118.237L115.914 183.186C115.51 181.992 114.727 180.9 113.566 180.138H113.541Z' fill='#E8DBBE')
            path(d='M252.935 46.8633L247.179 21.9966L224.051 21.0314L200.949 21.9966L195.193 46.8633C194.511 50.7242 190.648 59.9952 190.648 59.9952L224.051 72.0349L256.975 59.9952C256.975 59.9952 253.566 50.7242 252.91 46.8633H252.935Z' fill='#DE7D14')
            path(d='M233.343 67.0565C233.343 71.1205 229.101 74.3972 223.849 74.3972C218.598 74.3972 214.356 71.1205 214.356 67.0565C214.356 62.9925 218.623 59.7158 223.849 59.7158C229.076 59.7158 233.343 62.9925 233.343 67.0565Z' fill='#DBC493')
            path(d='M233.343 67.0565C233.343 62.9925 229.101 59.7158 223.849 59.7158C218.598 59.7158 214.356 62.9925 214.356 67.0565C214.356 68.0725 214.634 69.0123 215.088 69.8759C215.467 69.9267 215.871 69.9775 216.25 69.9775C219.658 69.9775 222.562 68.8091 223.849 66.1929C225.137 68.8091 228.04 69.9775 231.449 69.9775C231.853 69.9775 232.232 69.9267 232.61 69.8759C233.09 69.0123 233.343 68.0471 233.343 67.0565Z' fill='#B37351')
            path(d='M229.53 51.8418C226.526 51.8418 224.733 54.2802 223.824 57.125C222.94 54.2802 221.123 51.8418 218.143 51.8418C214.407 53.1626 208.12 57.8362 207.918 61.6209C207.918 65.7103 211.629 69.0377 216.224 69.0377C219.633 69.0377 222.536 67.2089 223.824 64.6181C225.112 67.2089 228.015 69.0377 231.424 69.0377C236.019 69.0377 239.73 65.7103 239.73 61.6209C239.604 57.8108 233.696 52.7308 229.53 51.8418Z' fill='#E8DBBE')
            path(d='M197.995 0L202.388 8.17886L201.101 8.76306L197.995 0Z' fill='#A95900')
            path(d='M197.49 0.558807L200.697 9.29647L199.308 9.70287L197.49 0.558807Z' fill='#A95900')
            path(d='M197.137 1.42241L199.056 10.5411L197.642 10.7189L197.137 1.42241Z' fill='#A95900')
            path(d='M215.568 23.1904C215.972 22.9872 216.25 22.6062 216.351 22.149C216.452 21.6918 216.351 21.2346 216.048 20.879L202.666 7.74706C201.782 6.65485 199.662 6.95965 198.626 8.02646C196.506 10.2109 196.43 14.9099 198.904 28.0926C199.46 31.0644 201.278 30.5564 201.278 30.5564L215.543 23.1904H215.568Z' fill='#C56701')
            path(d='M213.296 24.3842C213.674 24.181 213.977 23.8 214.078 23.3428C214.179 22.8856 214.053 22.4284 213.775 22.0728L202.767 8.53446C201.883 7.44225 199.586 7.18825 198.576 8.25506C196.48 10.4649 196.076 15.5703 198.677 28.7276C199.258 31.6994 201.404 30.6072 201.404 30.6072L213.296 24.3588V24.3842Z' fill='#DBC493')
            path(d='M249.678 0L245.285 8.17886L246.573 8.76306L249.678 0Z' fill='#A95900')
            path(d='M250.183 0.558807L246.977 9.29647L248.365 9.70287L250.183 0.558807Z' fill='#A95900')
            path(d='M250.537 1.42241L248.618 10.5411L250.032 10.7189L250.537 1.42241Z' fill='#A95900')
            path(d='M232.105 23.1904C231.701 22.9872 231.398 22.6062 231.323 22.149C231.222 21.6918 231.348 21.2346 231.626 20.879L245.007 7.74706C245.891 6.65485 248.012 6.95965 249.047 8.02646C251.168 10.2109 251.243 14.9099 248.769 28.0926C248.214 31.0644 246.396 30.5564 246.396 30.5564L232.131 23.1904H232.105Z' fill='#C56701')
            path(d='M234.378 24.3842C233.999 24.181 233.696 23.8 233.595 23.3428C233.494 22.8856 233.62 22.4284 233.898 22.0728L244.906 8.53446C245.79 7.44225 248.087 7.18825 249.123 8.25506C251.218 10.4649 251.622 15.5703 249.022 28.7276C248.441 31.6994 246.295 30.6072 246.295 30.6072L234.378 24.3588V24.3842Z' fill='#DBC493')
            path(d='M234.024 46.9395V30.6326C234.024 29.7182 233.292 29.007 232.408 29.007C231.525 29.007 230.793 29.7436 230.793 30.6326V46.9395H234.05H234.024Z' fill='#C56701')
            path(d='M252.935 47.6507L252.405 45.3901L241.523 39.8529C241.043 39.6243 240.488 39.8021 240.235 40.2847C240.008 40.7673 240.185 41.3261 240.665 41.5801L252.935 47.8285C252.935 47.8285 252.935 47.7015 252.91 47.6507H252.935Z' fill='#C56701')
            path(d='M237.761 47.0665V33.6552C237.761 32.944 237.18 32.3598 236.473 32.3598C235.766 32.3598 235.186 32.944 235.186 33.6552V47.0665H237.761Z' fill='#C56701')
            path(d='M207.413 40.2847C207.186 39.8021 206.605 39.6243 206.125 39.8529L195.773 45.1107L195.218 47.5237L206.958 41.5547C207.438 41.3261 207.615 40.7419 207.388 40.2593L207.413 40.2847Z' fill='#C56701')
            path(d='M212.488 47.0665V33.6552C212.488 32.944 211.907 32.3598 211.2 32.3598C210.493 32.3598 209.912 32.944 209.912 33.6552V47.0665H212.488Z' fill='#C56701')
            path(d='M216.881 46.9395V30.6326C216.881 29.7182 216.149 29.007 215.265 29.007C214.381 29.007 213.649 29.7436 213.649 30.6326V46.9395H216.906H216.881Z' fill='#C56701')
            path(d='M217.79 49.378C217.79 49.378 217.866 44.2217 215.997 41.8341C213.876 39.1417 206.125 39.8021 206.125 39.8021C206.125 39.8021 204.56 46.4569 207.918 48.8192C211.932 51.6386 217.765 49.378 217.765 49.378H217.79Z' fill='#DBC493')
            path(d='M216.351 48.3112C216.351 48.3112 216.426 44.3995 214.987 42.5707C213.371 40.5133 207.514 41.0213 207.514 41.0213C207.514 41.0213 206.327 46.0759 208.877 47.8793C211.932 50.0384 216.351 48.3112 216.351 48.3112Z' fill='#995D18')
            path(d='M215.467 47.6761C215.467 47.6761 215.517 44.5011 214.356 43.0279C213.043 41.3769 208.296 41.7833 208.296 41.7833C208.296 41.7833 207.337 45.8727 209.407 47.3205C211.882 49.0732 215.467 47.6761 215.467 47.6761Z' fill='#ABA428')
            path(d='M213.245 44.5519C213.245 45.7203 212.589 46.6601 211.781 46.6601C210.973 46.6601 210.316 45.7203 210.316 44.5519C210.316 43.3835 210.973 42.4437 211.781 42.4437C212.589 42.4437 213.245 43.3835 213.245 44.5519Z' fill='black')
            path(d='M210.973 44.5011C210.973 44.9583 210.619 45.3139 210.165 45.3139C209.71 45.3139 209.357 44.9583 209.357 44.5011C209.357 44.0439 209.71 43.6883 210.165 43.6883C210.619 43.6883 210.973 44.0439 210.973 44.5011Z' fill='#EBF5E8')
            path(d='M229.884 49.378C229.884 49.378 229.808 44.2217 231.676 41.8341C233.797 39.1417 241.523 39.8021 241.523 39.8021C241.523 39.8021 243.088 46.4569 239.73 48.8192C235.716 51.6386 229.884 49.378 229.884 49.378Z' fill='#DBC493')
            path(d='M231.323 48.3112C231.323 48.3112 231.247 44.3995 232.686 42.5707C234.302 40.5133 240.185 41.0213 240.185 41.0213C240.185 41.0213 241.371 46.0759 238.821 47.8793C235.766 50.0384 231.348 48.3112 231.348 48.3112H231.323Z' fill='#995D18')
            path(d='M232.206 47.6761C232.206 47.6761 232.156 44.5011 233.317 43.0279C234.63 41.3769 239.377 41.7833 239.377 41.7833C239.377 41.7833 240.336 45.8727 238.291 47.3205C235.817 49.0732 232.232 47.6761 232.232 47.6761H232.206Z' fill='#ABA428')
            path(d='M234.428 44.5519C234.428 45.7203 235.085 46.6601 235.893 46.6601C236.701 46.6601 237.357 45.7203 237.357 44.5519C237.357 43.3835 236.701 42.4437 235.893 42.4437C235.085 42.4437 234.428 43.3835 234.428 44.5519Z' fill='black')
            path(d='M233.62 44.5011C233.62 44.9583 233.974 45.3139 234.428 45.3139C234.883 45.3139 235.236 44.9583 235.236 44.5011C235.236 44.0439 234.883 43.6883 234.428 43.6883C233.974 43.6883 233.62 44.0439 233.62 44.5011Z' fill='#EBF5E8')
            path(d='M230.288 53.1372C230.06 52.299 229.581 51.6132 228.949 51.1052L223.849 46.9395L218.749 51.1052C218.118 51.6132 217.664 52.3244 217.436 53.1372C217.209 53.9754 217.26 54.8136 217.512 55.5756L218.471 58.7506C218.547 59.03 218.724 59.284 218.951 59.4364C219.204 59.6142 219.481 59.7158 219.759 59.7158H227.939C228.217 59.7158 228.495 59.6396 228.747 59.4618C229 59.284 229.151 59.03 229.227 58.776L230.187 55.601C230.439 54.839 230.49 54.0008 230.262 53.1626L230.288 53.1372Z' fill='#B55F00')
            path(d='M223.824 64.2625L219.406 59.8428C219.153 59.5888 219.052 59.1824 219.204 58.8014C219.355 58.4458 219.709 58.2172 220.087 58.2172H227.662C228.04 58.2172 228.394 58.4458 228.52 58.8014C228.672 59.1824 228.571 59.5634 228.318 59.8428L223.849 64.2625H223.824Z' fill='#E39871')
            path(d='M221.653 60.3763H219.961L222.587 62.9925V61.3161C222.587 61.0875 222.486 60.8335 222.309 60.6556C222.132 60.4778 221.905 60.3763 221.653 60.3763Z' fill='#966144')
            path(d='M227.788 60.3763H226.096C225.869 60.3763 225.642 60.4778 225.44 60.6556C225.263 60.8335 225.162 61.0875 225.162 61.3161V62.9671L227.763 60.4017L227.788 60.3763Z' fill='#966144')
            path(d='M186.305 104.141C187.644 104.141 188.729 103.049 188.729 101.702V60.1984C187.139 60.2492 185.497 60.2746 183.856 60.2746V101.702C183.856 103.049 184.942 104.141 186.305 104.141Z' fill='#C06400')
            path(d='M113.187 110.719C114.525 110.719 115.636 109.627 115.636 108.281V56.49C113.944 56.5916 112.329 56.7186 110.763 56.9218V108.281C110.763 109.627 111.849 110.719 113.187 110.719Z' fill='#C06400')
            path(d='M127.806 111.558C129.169 111.558 130.255 110.465 130.255 109.094V56.5662C128.588 56.49 126.972 56.4138 125.382 56.363V109.068C125.382 110.415 126.468 111.532 127.806 111.532V111.558Z' fill='#C06400')
            path(d='M171.687 107.011C173.025 107.011 174.111 105.919 174.111 104.547V59.9698C172.495 59.8936 170.879 59.792 169.238 59.6904V104.547C169.238 105.893 170.323 107.011 171.687 107.011Z' fill='#C06400')
            path(d='M157.043 109.881C158.406 109.881 159.492 108.789 159.492 107.417V58.9538C157.876 58.8014 156.235 58.6744 154.619 58.522V107.417C154.619 108.789 155.705 109.881 157.068 109.881H157.043Z' fill='#C06400')
            path(d='M142.424 112.726C143.762 112.726 144.873 111.634 144.873 110.288V57.6584C143.232 57.506 141.591 57.379 140 57.2266V110.288C140 111.634 141.086 112.726 142.45 112.726H142.424Z' fill='#C06400')
          defs
            clippath#clip0_501_4721
              rect(width='257' height='192' fill='white')
      .description
        p.en The page you’re looking for might be renamed or removed. We will redirect this link in 5 seconds.
        p.ch 您所尋找的頁面可能更換名稱，或者遭受移除，我們將在五秒後為您重新導向。
      a.back-home(href="./index.html")
        .text OK 立即導向
        .countdown 5

block footer