extends ../layouts/_template.pug

block page
  - const page = 'error/500';
  - const css = 'error';

block fontSheet
  link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jost:wght@400;600&family=Noto+Sans+TC&display=swap")

block navbar

block content
  .content
    .inner
      .title Sorry, Internal Server Error
      .error-code._500 500
        svg(width='156' height='230' viewbox='0 0 156 230' fill='none' xmlns='http://www.w3.org/2000/svg')
          g(clip-path='url(#clip0_501_4788)')
            path(d='M92.864 225.718H48.0935V213.051H81.323C84.2887 213.051 87.2186 214.193 89.4696 216.441C91.7206 218.689 92.864 221.651 92.864 224.576V225.718Z' fill='#8B8BA6')
            path(d='M138.456 105.616C138.456 105.616 138.706 105.901 138.814 106.008C139.064 106.258 139.278 106.472 139.528 106.722L138.456 105.58V105.616Z' fill='#808091')
            path(d='M147.317 110.647C146.674 106.258 127.951 98.3726 120.948 97.4806C114.517 96.6956 108.335 97.9088 102.976 100.692C100.189 102.868 98.0092 105.794 96.7586 109.398C95.3294 113.644 95.4723 118.033 96.9373 121.922L107.013 149.004L102.154 166.06C101.797 167.308 101.618 168.664 101.618 170.02C101.618 171.412 101.868 172.732 102.261 173.981L107.656 225.754H126.701L127.737 223.684C128.273 222.578 128.487 221.294 128.273 219.974C128.023 218.653 127.416 217.547 126.487 216.691L125.951 216.191C125.236 215.513 124.414 214.978 123.449 214.55C122.52 214.158 121.52 213.944 120.555 213.908L116.339 213.729L122.342 166.88L133.061 140.334C133.061 140.334 149.033 122.279 147.317 110.647Z' fill='#7C7C94')
            path(d='M106.227 55.8052L91.5419 78.1415L66.4947 89.4881C66.4947 89.4881 46.8428 92.2355 39.7682 97.8374C18.6871 114.536 0.214329 163.027 1.0004 186.255C2.00086 216.263 18.3655 224.612 18.3655 224.612H66.1374L117.232 139.549L123.128 137.693C128.988 135.838 134.526 132.626 139.207 128.059C143.887 123.456 147.21 117.997 149.175 112.181L151.712 104.617C152.427 102.512 152.784 100.228 152.748 97.8731C152.713 95.5182 152.248 93.2702 151.426 91.1651L150.64 89.1669L153.32 58.4812L106.227 55.8052Z' fill='#8B8BA6')
            path(d='M118.626 105.616C118.626 105.616 118.876 105.901 118.983 106.008C119.233 106.258 119.483 106.472 119.698 106.722L118.626 105.58V105.616Z' fill='#808091')
            path(d='M123.664 130.307C125.629 126.454 126.451 121.993 125.772 117.391C125.093 113.002 123.128 109.113 120.341 106.044C115.624 101.477 109.479 98.3726 102.476 97.4806C96.044 96.6956 89.8626 97.9088 84.503 100.692C81.716 102.868 79.5364 105.794 78.3216 109.398C76.8924 113.644 77.0353 118.033 78.5003 121.922L88.5763 149.004L83.7169 166.06C83.3596 167.308 83.181 168.664 83.181 170.02C83.181 171.412 83.4311 172.732 83.8599 173.981L100.618 225.754H119.662L120.698 223.684C121.27 222.578 121.484 221.294 121.234 219.974C121.02 218.653 120.377 217.547 119.448 216.691L118.912 216.191C118.197 215.513 117.375 214.978 116.41 214.55C115.446 214.158 114.481 213.944 113.516 213.908L109.3 213.729L108.621 170.698L118.626 140.334L123.735 130.307H123.664Z' fill='#8B8BA6')
            path(d='M116.804 22.2293C92.221 28.188 87.5403 46.0285 93.7931 63.1198C99.4028 78.3556 115.267 85.5631 131.024 81.9237C146.746 78.0701 157.68 64.5113 155.786 48.3835C153.678 30.3289 141.458 16.5203 116.804 22.2293Z' fill='#9898B3')
            path(d='M137.134 69.7921C138.206 74.3236 135.419 79.533 130.703 80.6392C125.986 81.7453 121.163 78.3556 120.091 73.8241C119.019 69.3283 121.949 64.7611 126.665 63.6193C131.382 62.5132 136.062 65.2606 137.134 69.7564V69.7921Z' fill='#ABABC9')
            path(d='M128.666 69.7208L129.381 72.6823L124.736 76.4288C124.021 76.9997 123.128 77.3922 122.163 77.4992C121.198 77.6063 120.234 77.4279 119.412 77.0354C119.412 77.0354 114.767 74.3593 114.159 71.5762C113.874 70.1846 114.445 68.8287 115.374 67.9367L121.949 61.6568L128.666 69.7208Z' fill='#BDBDDE')
            path(d='M127.63 69.9348L128.344 72.8964L134.169 74.1809C135.062 74.3593 136.027 74.3236 136.956 74.0025C137.885 73.6814 138.635 73.0748 139.207 72.3612C139.207 72.3612 142.172 67.901 141.458 65.1179C141.1 63.762 139.957 62.7986 138.706 62.4061L129.988 59.7657L127.63 70.0062V69.9348Z' fill='#BDBDDE')
            path(d='M107.549 25.3694C107.549 25.9759 107.335 27.5459 107.014 29.1516C107.014 29.1516 106.871 29.2586 106.799 29.33C100.975 33.3619 94.7222 39.9986 91.6851 47.9198C91.5779 48.1339 91.5064 48.348 91.4349 48.5977L80.0011 21.266C79.1436 19.1609 79.7153 16.6632 81.609 15.2003C83.5027 13.7373 86.0396 13.7373 87.8976 15.0932L107.621 25.3694H107.549Z' fill='#7C7C94')
            path(d='M107.013 29.1514C107.013 29.1514 106.87 29.2584 106.763 29.2941C100.939 33.3261 94.6863 39.9628 91.6492 47.8839C91.542 48.098 91.4705 48.3121 91.3991 48.5619L79.9653 21.2302C79.1077 19.125 79.6794 16.6274 81.5731 15.1644C83.4669 13.7015 86.0037 13.7015 87.8617 15.0574L107.049 29.1157L107.013 29.1514Z' fill='#A37989')
            path(d='M149.247 4.78126L151.355 34.3252C151.355 34.3252 150.998 34.004 150.819 33.8256C144.495 28.1167 135.955 24.9767 128.916 24.0133C128.809 24.0133 128.738 24.0133 128.63 23.942C127.63 22.6931 126.701 21.3729 126.451 20.802L139.421 2.74744C140.457 0.713618 142.744 -0.463856 145.067 -2.55555e-06C147.389 0.463851 149.068 2.42631 149.247 4.67421V4.78126Z' fill='#7C7C94')
            path(d='M149.247 4.78126L151.355 34.3252C151.355 34.3252 150.998 34.004 150.819 33.8256C144.495 28.1167 135.955 24.9767 128.916 24.0133C128.809 24.0133 128.738 24.0133 128.631 23.9777L139.421 2.8188C140.457 0.784984 142.744 -0.392491 145.067 0.0713628C147.389 0.535216 149.069 2.49767 149.247 4.74558V4.78126Z' fill='#A37989')
            path(d='M131.453 64.7611L122.914 66.7949L119.912 58.8024C119.591 58.0174 119.626 57.1253 120.019 56.3047C120.448 55.5197 121.163 54.9488 121.985 54.7704L126.844 53.5929C127.666 53.4145 128.523 53.5572 129.274 54.0568C129.988 54.592 130.417 55.377 130.488 56.1976L131.417 64.6897L131.453 64.7611Z' fill='#ABABC9')
            path(d='M117.375 55.3413C116.875 57.5892 113.874 61.0146 109.121 60.6578C105.227 60.3366 102.118 57.2681 102.261 53.7C102.44 50.1319 105.727 47.3487 109.657 47.5271C113.588 47.7055 118.125 52.023 117.375 55.3413Z' fill='#626282')
            path(d='M116.267 55.1629C115.839 57.0897 113.266 60.0155 109.229 59.6944C105.906 59.4089 103.262 56.8042 103.404 53.7713C103.547 50.7028 106.37 48.3478 109.693 48.5262C113.016 48.6689 116.911 52.3798 116.267 55.1986V55.1629Z' fill='#6DB85E')
            path(d='M111.98 53.0934C112.48 55.1629 111.873 57.0897 110.658 57.3751C109.443 57.6606 108.049 56.2333 107.549 54.1281C107.049 52.0586 107.656 50.1319 108.871 49.8464C110.086 49.561 111.48 50.9882 111.98 53.0934Z' fill='black')
            path(d='M108.657 54.1638C108.8 54.7347 108.442 55.3056 107.871 55.4483C107.299 55.5911 106.727 55.2342 106.584 54.6633C106.442 54.0924 106.799 53.5216 107.371 53.3788C107.942 53.2361 108.514 53.5929 108.657 54.1638Z' fill='white')
            path(d='M116.946 52.5582L119.876 58.8023L116.446 56.5901L116.946 52.5582Z' fill='#626282')
            path(d='M131.239 52.0586C132.704 53.8427 136.956 55.5554 140.993 53.0934C144.352 51.0596 145.745 46.9206 143.959 43.7806C142.172 40.6407 137.992 39.6773 134.597 41.6041C131.167 43.5309 129.095 49.4182 131.239 52.0586Z' fill='#626282')
            path(d='M132.168 51.3807C133.418 52.915 137.027 54.3779 140.493 52.237C143.351 50.4887 144.53 46.9563 143.03 44.3159C141.529 41.6398 137.956 40.8191 135.026 42.4604C132.096 44.1018 130.31 49.1328 132.168 51.3807Z' fill='#6DB85E')
            path(d='M135.026 47.5985C135.526 49.668 136.92 51.1309 138.135 50.8455C139.35 50.56 139.957 48.6333 139.457 46.5638C138.957 44.4943 137.563 43.0313 136.348 43.3168C135.133 43.6022 134.562 45.529 135.026 47.5985Z' fill='black')
            path(d='M133.74 48.2051C133.883 48.776 134.454 49.1328 135.026 48.9901C135.598 48.8473 135.955 48.2765 135.812 47.7056C135.669 47.1347 135.098 46.7778 134.526 46.9206C133.954 47.0633 133.597 47.6342 133.74 48.2051Z' fill='white')
            path(d='M130.381 49.3826L130.56 56.269L132.596 52.7366L130.381 49.3826Z' fill='#626282')
            path(d='M129.166 74.1452C128.881 74.2166 128.595 74.0382 128.523 73.7527L127.63 69.9705C127.559 69.6851 127.737 69.3996 128.023 69.3639C128.309 69.2926 128.595 69.471 128.666 69.7564L129.559 73.5386C129.631 73.8241 129.452 74.1095 129.166 74.1809V74.1452Z' fill='#626282')
            path(d='M136.455 73.5029L129.238 73.2175C129.238 73.2175 128.952 73.1461 128.809 73.1818C128.666 73.1818 128.523 73.2889 128.452 73.3959L122.449 77.0354C122.235 77.2138 122.163 77.5349 122.306 77.749C122.449 77.9274 122.663 77.9988 122.842 77.9631C122.913 77.9631 122.949 77.9274 123.021 77.8917L129.023 74.2522L136.277 74.5377C136.277 74.5377 136.42 74.5377 136.455 74.5377C136.67 74.502 136.813 74.3236 136.848 74.1095C136.884 73.8241 136.705 73.5743 136.42 73.5029H136.455Z' fill='#626282')
            path(d='M129.309 69.578C129.131 69.9705 128.738 70.2917 128.273 70.4344C127.809 70.5414 127.308 70.4344 126.987 70.1489L123.056 67.0447C122.628 66.7592 122.449 66.1883 122.628 65.6888C122.806 65.1893 123.306 64.8681 123.807 64.9038L126.915 65.0822L129.774 63.4766C130.238 63.2268 130.81 63.2625 131.203 63.655C131.596 64.0475 131.667 64.6184 131.417 65.0822L129.309 69.6137V69.578Z' fill='#51516B')
            path(d='M41.3404 211.803C46.8787 211.517 52.4526 210.447 57.3477 207.842C59.5988 206.665 68.8173 202.24 72.6762 187.04C74.3555 180.475 71.2112 171.305 66.602 165.738C65.2442 164.097 55.2396 160.065 51.2735 162.491C43.1269 167.415 45.7353 174.587 47.3074 178.441C48.2007 180.653 51.2021 182.152 50.9162 184.792C50.5589 188.182 46.5928 189.716 43.9488 187.718C33.5511 179.868 31.979 165.631 40.3757 155.712C49.094 145.4 67.531 148.719 76.3207 157.139C88.3262 168.593 91.8635 187.04 85.039 202.097C74.9987 224.255 48.7009 234.282 25.6904 228.287C15.8645 225.718 5.32392 219.224 1.60794 209.269C-0.964672 202.383 -0.250058 194.034 1.60794 192.606C3.10862 191.429 13.9707 213.301 41.269 211.838L41.3404 211.803Z' fill='#7C7C94')
          defs
            clippath#clip0_501_4788
              rect(width='156' height='230' fill='white')
      .description
        p.en Please contact your website administrator. We will fixed it soon.
        p.ch 請回報給您的管理人員，我們將會儘速排除。
      a.back-home(href="./index.html")
        .text Home Page 返回首頁
        .countdown 5

block footer