extends ../layouts/_template.pug

block page
  - const page = 'about';
  - const css = 'about';

block navbar

block content
  section.bannerBox
    // 主題顏色 深淺 data-theme='dark'/'light' 
    .bannerBox(data-theme='dark' data-align='center' data-aost)
      // 麵包屑
      -
        const breadCrumbsData = [
          {
            name:'Home',
            href:'./index.html',
          },
          {
            name:'About Us',
          },
        ]
      include ../layouts/components/_breadCrumb.pug
      .container 
        .bgBox
          .pic
            picture
              source(data-srcset=`./assets/img/banner.jpg` media='(min-width: 1025px)')
              source(data-srcset=`./assets/img/banner.jpg` media='(min-width: 501px)')
              img.lazy(data-src=`./assets/img/banner.jpg`, alt="")
        .txtBox
          .subSlogan
            span Front-End Suite Design Framework
  section.section1(data-content)
    .container
      .content
        ._articleBlock        
          article._article.typeL(data-aost data-aost-fade-up)
            ._contentWrap
              ._imgCover
                ._cover
                  ._photo(video-id="FonjL7DQAUQ" video-type="youtube")
                    img(src="https://picsum.photos/id/121/700/400" alt="")
                  p._description Description
              ._wordCover
                h4._H This is the title of the Article, A satirical title generator for designers...
                h5._subH Sub-Title of the Article, A satirical title generator for designers...
                ._P
                  p What would the museum in your imagination look like? It's a good idea to build your favorite museum in Mondo Museum, whether it's to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator"Mondo Museum" is a game that tests the player's ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.
                  span._buttonCover
                    a._button(href="javascript:;") Button Description
          article._article.typeR(data-aost data-aost-fade-up)
            ._contentWrap
              ._imgCover
                ._cover
                  ._photo
                    img.detect-shade(src="https://picsum.photos/id/235/700/400" alt="")
                  p._description Description
              ._wordCover
                h4._H This is the title of the Article, A satirical title generator for designers...
                h5._subH Sub-Title of the Article, A satirical title generator for designers...
                ._P
                  p What would the museum in your imagination look like? It's a good idea to build your favorite museum in Mondo Museum, whether it's to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator"Mondo Museum" is a game that tests the player's ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.
                  span._buttonCover
                    a._button(href="javascript:;") Button Description
          article._article.typeL(article-flex="center")
            ._contentWrap
              ._imgCover
                ._cover
                  ._photo
                    img(src="https://picsum.photos/id/256/700/400" alt="")
                  p._description Description
              ._wordCover
                h4._H This is the title of the Article, A satirical title generator for designers...
                h5._subH Sub-Title of the Article, A satirical title generator for designers...
                ._P
                  p What would the museum in your imagination look like? It's a good idea to build your favorite museum in Mondo Museum, whether it's to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator"Mondo Museum" is a game that tests the player's ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.
                  span._buttonCover
                    a._button(href="javascript:;") Button Description
          article._article.typeLR(img-row="x2" img-merge="on")
            ._contentWrap
              ._imgCover
                ._cover
                  ._photo
                    img(src="https://picsum.photos/id/141/700/400" alt="")
                  p._description Description
                ._cover
                  ._photo
                    img(src="https://picsum.photos/id/141/700/400" alt="")
                  p._description Description
                ._cover
                  ._photo
                    img(src="https://picsum.photos/id/141/700/400" alt="")
                  p._description Description
                ._cover
                  ._photo
                    img(src="https://picsum.photos/id/141/700/400" alt="")
                  p._description Description
              h4._H This is the title of the Article, A satirical title generator for designers... This is the title of the Article, A satirical title generator for designers... This is the title of the Article, A satirical title generator for designers... This is the title of the Article, A satirical title generator for designers... This is the title of the Article, A satirical title generator for designers... This is the title of the Article, A satirical title generator for designers... This is the title of the Article, A satirical title generator for designers... This is the title of the Article, A satirical title generator for designers...
              ._P 
                p 安美得生醫股份有限公司致力於傷口照護的核心技術研發、生產製造、通路行銷以及產品衛教服務，透過產銷分工、通路經營與專責服務，在各領域內專注專精，務實創新，創造效益。 研發、生產、行銷、通路、服務 ，五位一體，創造優勢安美得生醫全力投入UV光聚合水凝膠的研究與發展，為一專業創傷敷材之研發製造公司，安美得生醫股份有限公司致力於傷口照護的核心技術研發、生產製造、通路行銷以及產品衛教服務，透過產銷分工、通路經營與專責服務，在各領域內專注專精，務實創新，創造效益。 研發、生產、行銷、通路、服務 ，五位一體，創造優勢安美得生醫全力投入UV光聚合水凝膠的研究與發展，為一專業創傷敷材之研發製造公司，安美得生醫股份有限公司致力於傷口照護的核心技術研發、生產製造、通路行銷以及產品衛教服務，透過產銷分工、通路經營與專責服務，在各領域內專注專精，務實創新，創造效益。 研發、生產、行銷、通路、服務 ，五位一體，創造優勢安美得生醫全力投入UV光聚合水凝膠的研究與發展，為一專業創傷敷材之研發製造公司，安美得生醫股份有限公司致力於傷口照護的核心技術研發、生產製造、通路行銷以及產品衛教服務，透過產銷分工、通路經營與專責服務，在各領域內專注專精，務實創新，創造效益。 研發、生產、行銷、通路、服務 ，五位一體，創造優勢安美得生醫全力投入UV光聚合水凝膠的研究與發展，為一專業創傷敷材之研發製造公司，
                span._buttonCover
                  a._button(href="javascript:;") Button Description
          article._article.typeRR(data-aost data-aost-fade-up img-row="x3" img-merge="on")
            ._contentWrap
              ._imgCover
                ._cover
                  ._photo
                    img(src="https://picsum.photos/id/198/700/400" alt="")
                  p._description Description
                ._cover
                  ._photo
                    img(src="https://picsum.photos/id/198/700/400" alt="")
                  p._description Description
                ._cover
                  ._photo
                    img(src="https://picsum.photos/id/198/700/400" alt="")
                  p._description Description
                ._cover
                  ._photo
                    img(src="https://picsum.photos/id/198/700/400" alt="")
                  p._description Description
              h4._H This is the title of the Article, A satirical title generator for designers...
              h5._subH Sub-Title of the Article, A satirical title generator for designers...
              ._P 
                p 安美得生醫股份有限公司致力於傷口照護的核心技術研發、生產製造、通路行銷以及產品衛教服務，透過產銷分工、通路經營與專責服務，在各領域內專注專精，務實創新，創造效益。 研發、生產、行銷、通路、服務 ，五位一體，創造優勢安美得生醫全力投入UV光聚合水凝膠的研究與發展，為一專業創傷敷材之研發製造公司，安美得生醫股份有限公司致力於傷口照護的核心技術研發、生產製造、通路行銷以及產品衛教服務，透過產銷分工、通路經營與專責服務，在各領域內專注專精，務實創新，創造效益。 研發、生產、行銷、通路、服務 ，五位一體，創造優勢安美得生醫全力投入UV光聚合水凝膠的研究與發展，為一專業創傷敷材之研發製造公司，安美得生醫股份有限公司致力於傷口照護的核心技術研發、生產製造、通路行銷以及產品衛教服務，透過產銷分工、通路經營與專責服務，在各領域內專注專精，務實創新，創造效益。 研發、生產、行銷、通路、服務 ，五位一體，創造優勢安美得生醫全力投入UV光聚合水凝膠的研究與發展，為一專業創傷敷材之研發製造公司，安美得生醫股份有限公司致力於傷口照護的核心技術研發、生產製造、通路行銷以及產品衛教服務，透過產銷分工、通路經營與專責服務，在各領域內專注專精，務實創新，創造效益。 研發、生產、行銷、通路、服務 ，五位一體，創造優勢安美得生醫全力投入UV光聚合水凝膠的研究與發展，為一專業創傷敷材之研發製造公司，
                span._buttonCover
                  a._button(href="javascript:;") Button Description
          article._article(img-row='x2' img-merge="on" data-aost data-aost-fade-up)
            ._contentWrap
              h4._H
                | This is the title of the Article, A satirical title generator for
                | designers...
              ._imgCover
                ._cover
                  ._photo
                    img(src='https://picsum.photos/id/29/1200/675' alt='')
                  p._description Description
                ._cover
                  ._photo
                    img(src='https://picsum.photos/id/49/1200/675' alt='')
                  p._description Description
                ._cover
                  ._photo
                    img(src='https://picsum.photos/id/85/1200/675' alt='')
                  p._description Description
                ._cover
                  ._photo
                    img(src='https://picsum.photos/id/128/1200/675' alt='')
                  p._description Description
              ._wordCover
                h5._subH
                  | Sub-Title of the Article, A satirical title generator for designers...
                ._P
                  p
                    | What would the museum in your imagination look like? It&apos;s a good
                    | idea to build your favorite museum in Mondo Museum, whether it&apos;s to
                    | be displayed in a sub-category, or to show it all at once and make a
                    | sensation in the world. The museum simulator&quot;Mondo Museum&quot; is
                    | a game that tests the player&apos;s ability to manage. You can freely
                    | design the structure of the museum, from the planning of the exhibition
                    | hall to the location of the gift shop, laying different floors for each
                    | room, setting windows, and of course matching Create a first class
                    | museum on the wallpaper.
                  span._buttonCover
                    a._button(href='javascript:;') Button Description
          article._article(swiper-num='6' img-merge="off" swiper-arrow='on' swiper-autoplay='off' data-aost data-aost-fade-up)
            ._contentWrap
              h4._H
                | This is the title of the Article, A satirical title generator for
                | designers...
              ._imgCover
                .swiper
                  .swiper-wrapper
                    ._cover.swiper-slide
                      ._photo(video-target video-id="S69LZK3-Z5E" video-type="youtube")
                        img(src='https://picsum.photos/id/29/1200/675' alt='')
                      p._description Description
                    ._cover.swiper-slide
                      ._photo(video-target video-id="S69LZK3-Z5E" video-type="youtube")
                        img(src='https://picsum.photos/id/49/1200/675' alt='')
                      p._description Description
                .swiper-button-cover
              ._wordCover
                h5._subH
                  | Sub-Title of the Article, A satirical title generator for designers...
                ._P
                  p
                    | What would the museum in your imagination look like? It&apos;s a good
                    | idea to build your favorite museum in Mondo Museum, whether it&apos;s to
                    | be displayed in a sub-category, or to show it all at once and make a
                    | sensation in the world. The museum simulator&quot;Mondo Museum&quot; is
                    | a game that tests the player&apos;s ability to manage. You can freely
                    | design the structure of the museum, from the planning of the exhibition
                    | hall to the location of the gift shop, laying different floors for each
                    | room, setting windows, and of course matching Create a first class
                    | museum on the wallpaper.
                  span._buttonCover
                    a._button(href='javascript:;') Button Description
          article._article.typeSR(data-aost data-aost-fade-up)
            ._contentWrap
              h4._H
                | This is the title of the Article, A satirical title generator for
                | designers...
              ._imgCover
                ._cover
                  ._photo
                    img(src='https://picsum.photos/id/85/1200/675' alt='')
                  p._description Description
              ._wordCover
                h5._subH
                  | Sub-Title of the Article, A satirical title generator for designers...
                ._P
                  p
                    | What would the museum in your imagination look like? It&apos;s a good
                    | idea to build your favorite museum in Mondo Museum, whether it&apos;s to
                    | be displayed in a sub-category, or to show it all at once and make a
                    | sensation in the world. The museum simulator&quot;Mondo Museum&quot; is
                    | a game that tests the player&apos;s ability to manage. You can freely
                    | design the structure of the museum, from the planning of the exhibition
                    | hall to the location of the gift shop, laying different floors for each
                    | room, setting windows, and of course matching Create a first class
                    | museum on the wallpaper.
                  span._buttonCover
                    a._button(href='javascript:;') Button Description
          article._article(data-aost data-aost-fade-up)
            ._contentWrap
              h4._H This is the title of the Article, A satirical title generator for designers...
              ._imgCover
                ._cover    
                  ._photo
                    img(src='https://picsum.photos/id/85/700/400' alt='')
                  p._description Description
              ._wordCover
                h5._subH Sub-Title of the Article, A satirical title generator for designers...
                ._P
                  p
                    | What would the museum in your imagination look like? It&apos;s a good idea to build your favorite museum in Mondo Museum, whether it&apos;s to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator&quot;Mondo Museum&quot; is a game that tests the player&apos;s ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.
                  // 以下為 instagram 結構
                  blockquote.instagram-media(data-instgrm-permalink='https://www.instagram.com/p/CLB2dAXBhWr/?utm_source=ig_embed&utm_campaign=loading' data-instgrm-version='13' style=' background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);')
                    div(style='padding:16px;')
                      a(href='https://www.instagram.com/p/CLB2dAXBhWr/?utm_source=ig_embed&utm_campaign=loading' style=' background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;' target='_blank')
                        div(style=' display: flex; flex-direction: row; align-items: center;')
                          div(style='background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;')
                          div(style='display: flex; flex-direction: column; flex-grow: 1; justify-content: center;')
                            div(style=' background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;')
                            div(style=' background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;')
                        div(style='padding: 19% 0;')
                        div(style='display:block; height:50px; margin:0 auto 12px; width:50px;')
                          svg(width='50px' height='50px' viewbox='0 0 60 60' version='1.1' xmlns='https://www.w3.org/2000/svg' xmlns:xlink='https://www.w3.org/1999/xlink')
                            g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                              g(transform='translate(-511.000000, -20.000000)' fill='#000000')
                                g
                                  path(d='M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631')
                        div(style='padding-top: 8px;')
                          div(style=' color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;')  &#x5728; Instagram &#x67E5;&#x770B;&#x9019;&#x5247;&#x8CBC;&#x6587;
                        div(style='padding: 12.5% 0;')
                        div(style='display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;')
                          div
                            div(style='background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);')
                            div(style='background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;')
                            div(style='background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);')
                          div(style='margin-left: 8px;')
                            div(style=' background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;')
                            div(style=' width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)')
                          div(style='margin-left: auto;')
                            div(style=' width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);')
                            div(style=' background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);')
                            div(style=' width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);')
                        div(style='display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;')
                          div(style=' background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;')
                          div(style=' background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;')
                      p(style=' color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;')
                        a(href='https://www.instagram.com/p/CLB2dAXBhWr/?utm_source=ig_embed&utm_campaign=loading' style=' color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;' target='_blank') shiba_chappie&#xFF08;@shiba_chappie&#xFF09;&#x5206;&#x4EAB;&#x7684;&#x8CBC;&#x6587;
                  script(async='' src='//www.instagram.com/embed.js')
                  span._buttonCover
                    a._button(href='javascript:;') Button Description
          // video 4 - tiktok & ig 使用方法
          article._article.typeD
            ._contentWrap
              h4._H This is the title of the Article, A satirical title generator for designers...
              ._imgCover
                .swiper
                  .swiper-wrapper
                    ._cover.swiper-slide
                      ._photo(video-id='pbQQAwSQUX4' video-starttime='600' video-highquality='on' video-type='youtube')
                        img(src='' alt='')
                      p._description Description
                    ._cover.swiper-slide
                      ._photo(video-id='7449986489389272327' video-autoplay='on' video-type='tiktok')
                        img(src='https://picsum.photos/id/961/900/500' alt='')
                      p._description Description
                    ._cover.swiper-slide
                      // video-id 為空
                      ._photo(video-id='' video-target='video-ig-template' video-target-route='./ajax/ajax_igDemo.html' video-type='instagram')
                        img(src='https://picsum.photos/id/961/900/500' alt='')
                      p._description Description
                .swiper-button-cover
              ._wordCover
                h5._subH Sub-Title of the Article, A satirical title generator for designers...
                ._P
                  p
                    | What would the museum in your imagination look like? Its a good idea to build your favorite museum in Mondo Museum, whether its to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator&quot;Mondo Museum&quot; is a game that tests the players ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.
                  span._buttonCover
                    a._button(href='javascript:;') Button Description
          <article class="_article" img-row="x3">
            <div class="_contentWrap">
              <h4 class="_H">This is the title of the Article, A satirical title generator for designers...</h4>
              <div class="_imgCover">
                <div class="_cover">
                  <div class="_photo"><img src="https://picsum.photos/id/964/700/400" alt=""></div>
                  <p class="_description">Description</p>
                </div>
                <div class="_cover">
                  <div class="_photo"><img src="https://picsum.photos/id/941/700/400" alt=""></div>
                  <p class="_description">Description</p>
                </div>
                <div class="_cover">
                  <div class="_photo"><img src="https://picsum.photos/id/986/700/400" alt=""></div>
                  <p class="_description">Description</p>
                </div>
              </div>
              <div class="_wordCover">
                <h5 class="_subH">Sub-Title of the Article, A satirical title generator for designers...</h5>
                <div class="_P">
                  <p>What would the museum in your imagination look like? It's a good idea to build your favorite museum in Mondo Museum, whether it's to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator"Mondo Museum" is a game that tests the player's ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.</p><span class="_buttonCover"><a class="_button" href="javascript:;">Button Description</a></span>
                </div>
              </div>
            </div>
          </article>
          <article class="_article typeSL">
            <div class="_contentWrap">
              <h4 class="_H">This is the title of the Article, A satirical title generator for designers...</h4>
              <div class="_imgCover">
                <div class="_cover">
                  <div class="_photo"><img src="https://picsum.photos/id/1045/700/400" alt=""></div>
                  <p class="_description">Description</p>
                </div>
              </div>
              <div class="_wordCover">
                <h5 class="_subH">Sub-Title of the Article, A satirical title generator for designers...</h5>
                <div class="_P">
                  <p>What would the museum in your imagination look like? It's a good idea to build your favorite museum in Mondo Museum, whether it's to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator"Mondo Museum" is a game that tests the player's ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.</p><span class="_buttonCover"><a class="_button" href="javascript:;">Button Description</a></span>
                </div>
              </div>
            </div>
          </article>
          <article class="_article typeSR">
            <div class="_contentWrap">
              <h4 class="_H">This is the title of the Article, A satirical title generator for designers...</h4>
              <div class="_imgCover">
                <div class="_cover">
                  <div class="_photo"><img src="https://picsum.photos/id/1049/700/400" alt=""></div>
                  <p class="_description">Description</p>
                </div>
              </div>
              <div class="_wordCover">
                <h5 class="_subH">Sub-Title of the Article, A satirical title generator for designers...</h5>
                <div class="_P">
                  <p>What would the museum in your imagination look like? It's a good idea to build your favorite museum in Mondo Museum, whether it's to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator"Mondo Museum" is a game that tests the player's ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.</p><span class="_buttonCover"><a class="_button" href="javascript:;">Button Description</a></span>
                </div>
              </div>
            </div>
          </article>
          <article class="_article typeU">
            <div class="_contentWrap">
              <h4 class="_H">This is the title of the Article, A satirical title generator for designers...</h4>
              <div class="_imgCover">
                <div class="_cover">
                  <div class="_photo"><img src="https://picsum.photos/id/1052/700/400" alt=""></div>
                  <p class="_description">Description</p>
                </div>
              </div>
              <div class="_wordCover">
                <h5 class="_subH">Sub-Title of the Article, A satirical title generator for designers...</h5>
                <div class="_P">
                  <p>What would the museum in your imagination look like? It's a good idea to build your favorite museum in Mondo Museum, whether it's to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator"Mondo Museum" is a game that tests the player's ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.</p><span class="_buttonCover"><a class="_button" href="javascript:;">Button Description</a></span>
                </div>
              </div>
            </div>
          </article>
          <article class="_article typeUL">
            <div class="_contentWrap">
              <h4 class="_H">This is the title of the Article, A satirical title generator for designers...</h4>
              <div class="_imgCover">
                <div class="_cover">
                  <div class="_photo"><img src="https://picsum.photos/id/1061/700/400" alt=""></div>
                  <p class="_description">Description</p>
                </div>
              </div>
              <div class="_wordCover">
                <h5 class="_subH">Sub-Title of the Article, A satirical title generator for designers...</h5>
                <div class="_P">
                  <p>What would the museum in your imagination look like? It's a good idea to build your favorite museum in Mondo Museum, whether it's to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator"Mondo Museum" is a game that tests the player's ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.</p><span class="_buttonCover"><a class="_button" href="javascript:;">Button Description</a></span>
                </div>
              </div>
            </div>
          </article>
          <article class="_article typeUR">
            <div class="_contentWrap">
              <h4 class="_H">This is the title of the Article, A satirical title generator for designers...</h4>
              <div class="_imgCover">
                <div class="_cover">
                  <div class="_photo"><img src="https://picsum.photos/id/1064/700/400" alt=""></div>
                  <p class="_description">Description</p>
                </div>
              </div>
              <div class="_wordCover">
                <h5 class="_subH">Sub-Title of the Article, A satirical title generator for designers...</h5>
                <div class="_P">
                  <p>What would the museum in your imagination look like? It's a good idea to build your favorite museum in Mondo Museum, whether it's to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator"Mondo Museum" is a game that tests the player's ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.</p><span class="_buttonCover"><a class="_button" href="javascript:;">Button Description</a></span>
                </div>
              </div>
            </div>
          </article>
          <article class="_article typeD">
            <div class="_contentWrap">
              <h4 class="_H">This is the title of the Article, A satirical title generator for designers...</h4>
              <div class="_imgCover">
                <div class="_cover">
                  <div class="_photo"><img src="https://picsum.photos/id/1081/700/400" alt=""></div>
                  <p class="_description">Description</p>
                </div>
              </div>
              <div class="_wordCover">
                <h5 class="_subH">Sub-Title of the Article, A satirical title generator for designers...</h5>
                <div class="_P">
                  <p>What would the museum in your imagination look like? It's a good idea to build your favorite museum in Mondo Museum, whether it's to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator"Mondo Museum" is a game that tests the player's ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.</p><span class="_buttonCover"><a class="_button" href="javascript:;">Button Description</a></span>
                </div>
              </div>
            </div>
          </article>
          <article class="_article typeDL">
            <div class="_contentWrap">
              <h4 class="_H">This is the title of the Article, A satirical title generator for designers...</h4>
              <div class="_imgCover">
                <div class="_cover">
                  <div class="_photo"><img src="https://picsum.photos/id/910/700/400" alt=""></div>
                  <p class="_description">Description</p>
                </div>
              </div>
              <div class="_wordCover">
                <h5 class="_subH">Sub-Title of the Article, A satirical title generator for designers...</h5>
                <div class="_P"> 
                  <p>What would the museum in your imagination look like? It's a good idea to build your favorite museum in Mondo Museum, whether it's to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator"Mondo Museum" is a game that tests the player's ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.</p><span class="_buttonCover"><a class="_button" href="javascript:;">Button Description</a></span>
                </div>
              </div>
            </div>
          </article>
          <article class="_article typeDR">
            <div class="_contentWrap">
              <h4 class="_H">This is the title of the Article, A satirical title generator for designers...</h4>
              <div class="_imgCover">
                <div class="_cover">
                  <div class="_photo"><img src="https://picsum.photos/id/12/700/400" alt=""></div>
                  <p class="_description">Description</p>
                </div>
              </div>
              <div class="_wordCover">
                <h5 class="_subH">Sub-Title of the Article, A satirical title generator for designers...</h5>
                <div class="_P">
                  <p>What would the museum in your imagination look like? It's a good idea to build your favorite museum in Mondo Museum, whether it's to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator"Mondo Museum" is a game that tests the player's ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.</p><span class="_buttonCover"><a class="_button" href="javascript:;">Button Description</a></span>
                </div>
              </div>
            </div>
          </article>
          <article class="_article typeL">
            <div class="_contentWrap">
              <div class="_imgCover">
                <div class="_cover">
                  <div class="_photo" video-id="FonjL7DQAUQ" video-type="youtube"><img src="https://picsum.photos/id/121/700/400" alt=""></div>
                  <p class="_description">Description</p>
                </div>
              </div>
              <div class="_wordCover">
                <h4 class="_H">This is the title of the Article, A satirical title generator for designers...</h4>
                <h5 class="_subH">Sub-Title of the Article, A satirical title generator for designers...</h5>
                <div class="_P">
                  <p>What would the museum in your imagination look like? It's a good idea to build your favorite museum in Mondo Museum, whether it's to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator"Mondo Museum" is a game that tests the player's ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.</p><span class="_buttonCover"><a class="_button" href="javascript:;">Button Description</a></span>
                </div>
              </div>
            </div>
          </article>
          <article class="_article typeR">
            <div class="_contentWrap">
              <div class="_imgCover">
                <div class="_cover">
                  <div class="_photo"><img src="https://picsum.photos/id/235/700/400" alt=""></div>
                  <p class="_description">Description</p>
                </div>
              </div>
              <div class="_wordCover">
                <h4 class="_H">This is the title of the Article, A satirical title generator for designers...</h4>
                <h5 class="_subH">Sub-Title of the Article, A satirical title generator for designers...</h5>
                <div class="_P">
                  <p>What would the museum in your imagination look like? It's a good idea to build your favorite museum in Mondo Museum, whether it's to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator"Mondo Museum" is a game that tests the player's ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.</p><span class="_buttonCover"><a class="_button" href="javascript:;">Button Description</a></span>
                </div>
              </div>
            </div>
          </article>
          <article class="_article typeL" article-flex="center">
            <div class="_contentWrap">
              <div class="_imgCover">
                <div class="_cover">
                  <div class="_photo"><img src="https://picsum.photos/id/256/700/400" alt=""></div>
                  <p class="_description">Description</p>
                </div>
              </div>
              <div class="_wordCover">
                <h4 class="_H">This is the title of the Article, A satirical title generator for designers...</h4>
                <h5 class="_subH">Sub-Title of the Article, A satirical title generator for designers...</h5>
                <div class="_P">
                  <p>What would the museum in your imagination look like? It's a good idea to build your favorite museum in Mondo Museum, whether it's to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator"Mondo Museum" is a game that tests the player's ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.</p><span class="_buttonCover"><a class="_button" href="javascript:;">Button Description</a></span>
                </div>
              </div>
            </div>
          </article>
          <article class="_article typeLR" img-row="x1">
            <div class="_contentWrap">
              <div class="_imgCover">
                <div class="_cover">
                  <div class="_photo"><img src="https://picsum.photos/id/141/700/400" alt=""></div>
                  <p class="_description">Description</p>
                </div>
              </div>
              <h4 class="_H">This is the title of the Article, A satirical title generator for designers... This is the title of the Article, A satirical title generator for designers... This is the title of the Article, A satirical title generator for designers... This is the title of the Article, A satirical title generator for designers... This is the title of the Article, A satirical title generator for designers... This is the title of the Article, A satirical title generator for designers... This is the title of the Article, A satirical title generator for designers... This is the title of the Article, A satirical title generator for designers...</h4>
              <div class="_P"> 
                <p>安美得生醫股份有限公司致力於傷口照護的核心技術研發、生產製造、通路行銷以及產品衛教服務，透過產銷分工、通路經營與專責服務，在各領域內專注專精，務實創新，創造效益。 研發、生產、行銷、通路、服務 ，五位一體，創造優勢安美得生醫全力投入UV光聚合水凝膠的研究與發展，為一專業創傷敷材之研發製造公司，安美得生醫股份有限公司致力於傷口照護的核心技術研發、生產製造、通路行銷以及產品衛教服務，透過產銷分工、通路經營與專責服務，在各領域內專注專精，務實創新，創造效益。 研發、生產、行銷、通路、服務 ，五位一體，創造優勢安美得生醫全力投入UV光聚合水凝膠的研究與發展，為一專業創傷敷材之研發製造公司，安美得生醫股份有限公司致力於傷口照護的核心技術研發、生產製造、通路行銷以及產品衛教服務，透過產銷分工、通路經營與專責服務，在各領域內專注專精，務實創新，創造效益。 研發、生產、行銷、通路、服務 ，五位一體，創造優勢安美得生醫全力投入UV光聚合水凝膠的研究與發展，為一專業創傷敷材之研發製造公司，安美得生醫股份有限公司致力於傷口照護的核心技術研發、生產製造、通路行銷以及產品衛教服務，透過產銷分工、通路經營與專責服務，在各領域內專注專精，務實創新，創造效益。 研發、生產、行銷、通路、服務 ，五位一體，創造優勢安美得生醫全力投入UV光聚合水凝膠的研究與發展，為一專業創傷敷材之研發製造公司，</p><span class="_buttonCover"><a class="_button" href="javascript:;">Button Description</a></span>
              </div>
            </div>
          </article>
          <article class="_article typeRR">
            <div class="_contentWrap">
              <div class="_imgCover">
                <div class="_cover">
                  <div class="_photo"><img src="https://picsum.photos/id/198/700/400" alt=""></div>
                  <p class="_description">Description</p>
                </div>
              </div>
              <h4 class="_H">This is the title of the Article, A satirical title generator for designers...</h4>
              <h5 class="_subH">Sub-Title of the Article, A satirical title generator for designers...</h5>
              <div class="_P"> 
                <p>安美得生醫股份有限公司致力於傷口照護的核心技術研發、生產製造、通路行銷以及產品衛教服務，透過產銷分工、通路經營與專責服務，在各領域內專注專精，務實創新，創造效益。 研發、生產、行銷、通路、服務 ，五位一體，創造優勢安美得生醫全力投入UV光聚合水凝膠的研究與發展，為一專業創傷敷材之研發製造公司，安美得生醫股份有限公司致力於傷口照護的核心技術研發、生產製造、通路行銷以及產品衛教服務，透過產銷分工、通路經營與專責服務，在各領域內專注專精，務實創新，創造效益。 研發、生產、行銷、通路、服務 ，五位一體，創造優勢安美得生醫全力投入UV光聚合水凝膠的研究與發展，為一專業創傷敷材之研發製造公司，安美得生醫股份有限公司致力於傷口照護的核心技術研發、生產製造、通路行銷以及產品衛教服務，透過產銷分工、通路經營與專責服務，在各領域內專注專精，務實創新，創造效益。 研發、生產、行銷、通路、服務 ，五位一體，創造優勢安美得生醫全力投入UV光聚合水凝膠的研究與發展，為一專業創傷敷材之研發製造公司，安美得生醫股份有限公司致力於傷口照護的核心技術研發、生產製造、通路行銷以及產品衛教服務，透過產銷分工、通路經營與專責服務，在各領域內專注專精，務實創新，創造效益。 研發、生產、行銷、通路、服務 ，五位一體，創造優勢安美得生醫全力投入UV光聚合水凝膠的研究與發展，為一專業創傷敷材之研發製造公司，</p><span class="_buttonCover"><a class="_button" href="javascript:;">Button Description</a></span>
              </div>
            </div>
          </article>
          <article class="_article typeF" typeFull-size="l">
            <div class="_backgroundWrap">
              <div class="_pc" style="background-image: url('https://picsum.photos/id/450/1000/650')"></div>
              <div class="_mobile" style="background-image: url('https://picsum.photos/id/728/650/1000')"></div>
            </div>
            <div class="_contentWrap">
              <div class="_imgCover">
                <div class="swiper">
                  <div class="swiper-wrapper">
                    <div class="_cover swiper-slide">
                      <div class="_photo"><img src="https://picsum.photos/id/961/700/700" alt=""></div>
                      <p class="_description">Description</p>
                    </div>
                    <div class="_cover swiper-slide">
                      <div class="_photo"><img src="https://picsum.photos/id/404/700/400" alt=""></div>
                      <p class="_description">Description</p>
                    </div>
                    <div class="_cover swiper-slide">
                      <div class="_photo"><img src="https://picsum.photos/id/406/700/700" alt=""></div>
                      <p class="_description">Description</p>
                    </div>
                    <div class="_cover swiper-slide">
                      <div class="_photo"><img src="https://picsum.photos/id/932/580/780" alt=""></div>
                      <p class="_description">Description</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-button-cover"></div>
              </div>
              <div class="_wordCover">
                <h4 class="_H">This is the title of the Article, A satirical title generator for designers...</h4>
                <h5 class="_subH">Sub-Title of the Article, A satirical title generator for designers...</h5>
                <div class="_P">
                  <p>What would the museum in your imagination look like? It's a good idea to build your favorite museum in Mondo Museum, whether it's to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator"Mondo Museum" is a game that tests the player's ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.</p><span class="_buttonCover"><a class="_button" href="javascript:;">Button Description</a></span>
                </div>
              </div>
            </div>
          </article>
          <article class="_article typeFL" typeFull-size="l">
            <div class="_backgroundWrap">
              <div class="_pc" style="background-image: url('https://picsum.photos/id/347/1000/650')"></div>
              <div class="_mobile" style="background-image: url('https://picsum.photos/id/730/650/1000')"></div>
            </div>
            <div class="_contentWrap">
              <div class="_wordCover">
                <h4 class="_H">This is the title of the Article, A satirical title generator for designers...</h4>
                <h5 class="_subH">Sub-Title of the Article, A satirical title generator for designers...</h5>
                <div class="_P">
                  <p>What would the museum in your imagination look like? It's a good idea to build your favorite museum in Mondo Museum, whether it's to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator"Mondo Museum" is a game that tests the player's ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.</p><span class="_buttonCover"><a class="_button" href="javascript:;">Button Description</a></span>
                </div>
              </div>
            </div>
          </article>
          <article class="_article typeFR" typeFull-size="l">
            <div class="_backgroundWrap">
              <div class="_pc" style="background-image: url('https://picsum.photos/id/465/1000/650')"></div>
              <div class="_mobile" style="background-image: url('https://picsum.photos/id/731/650/1000')"></div>
            </div>
            <div class="_contentWrap">
              <div class="_wordCover">
                <h4 class="_H">This is the title of the Article, A satirical title generator for designers...</h4>
                <h5 class="_subH">Sub-Title of the Article, A satirical title generator for designers...</h5>
                <div class="_P">
                  <p>What would the museum in your imagination look like? It's a good idea to build your favorite museum in Mondo Museum, whether it's to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator"Mondo Museum" is a game that tests the player's ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.</p><span class="_buttonCover"><a class="_button" href="javascript:;">Button Description</a></span>
                </div>
              </div>
            </div>
          </article>
          <article class="_article typeF" typeFull-size="m">
            <div class="_backgroundWrap">
              <div class="_pc" style="background-image: url('https://picsum.photos/id/989/1000/650')"></div>
              <div class="_mobile" style="background-image: url('https://picsum.photos/id/988/650/1000')"></div>
            </div>
            <div class="_contentWrap">
              <div class="_wordCover">
                <h4 class="_H">This is the title of the Article, A satirical title generator for designers...</h4>
                <h5 class="_subH">Sub-Title of the Article, A satirical title generator for designers...</h5>
                <div class="_P">
                  <p>What would the museum in your imagination look like? It's a good idea to build your favorite museum in Mondo Museum, whether it's to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator"Mondo Museum" is a game that tests the player's ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.</p><span class="_buttonCover"><a class="_button" href="javascript:;">Button Description</a></span>
                </div>
              </div>
            </div>
          </article>
          <article class="_article typeF" typeFull-color="#fdca36" typeFull-size="l">
            <div class="_backgroundWrap"></div>
            <div class="_contentWrap">
              <div class="_wordCover">
                <h4 class="_H">This is the title of the Article, A satirical title generator for designers...</h4>
                <h5 class="_subH">Sub-Title of the Article, A satirical title generator for designers...</h5>
                <div class="_P">
                  <p>What would the museum in your imagination look like? It's a good idea to build your favorite museum in Mondo Museum, whether it's to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator"Mondo Museum" is a game that tests the player's ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.</p><span class="_buttonCover"><a class="_button" href="javascript:;">Button Description</a></span>
                </div>
              </div>
            </div>
          </article>
          <article class="_article typeFBox" typeFull-size="xl" img-row="x2">
            <div class="_backgroundWrap">
              <div class="_pc" style="background-image: url('https://picsum.photos/id/379/1000/650')"></div>
              <div class="_mobile" style="background-image: url('https://picsum.photos/id/733/650/1000')"></div>
            </div>
            <div class="_contentWrap">
              <div class="_imgCover">
                <div class="_cover">
                  <div class="_photo"><img src="https://picsum.photos/id/886/700/400" alt=""></div>
                  <p class="_description">Description</p>
                </div>
                <div class="_cover">
                  <div class="_photo"><img src="https://picsum.photos/id/887/700/400" alt=""></div>
                  <p class="_description">Description</p>
                </div>
              </div>
              <div class="_wordCover">
                <h4 class="_H">This is the title of the Article, A satirical title generator for designers...</h4>
                <h5 class="_subH">Sub-Title of the Article, A satirical title generator for designers...</h5>
                <div class="_P">
                  <p>What would the museum in your imagination look like? It's a good idea to build your favorite museum in Mondo Museum, whether it's to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator"Mondo Museum" is a game that tests the player's ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.</p><span class="_buttonCover"><a class="_button" href="javascript:;">Button Description</a></span>
                </div>
              </div>
            </div>
          </article>
          <article class="_article typeFBoxL" typeFull-size="l">
            <div class="_backgroundWrap">
              <div class="_pc" style="background-image: url('https://picsum.photos/id/479/1000/650')"></div>
              <div class="_mobile" style="background-image: url('https://picsum.photos/id/735/650/1000')"></div>
            </div>
            <div class="_contentWrap">
              <div class="_imgCover">
                <div class="swiper">
                  <div class="swiper-wrapper">
                    <div class="_cover swiper-slide">
                      <div class="_photo"><img src="https://picsum.photos/id/886/700/400" alt=""></div>
                      <p class="_description">Description</p>
                    </div>
                    <div class="_cover swiper-slide">
                      <div class="_photo"><img src="https://picsum.photos/id/887/700/400" alt=""></div>
                      <p class="_description">Description</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-button-cover"></div>
              </div>
              <div class="_wordCover">
                <h4 class="_H">This is the title of the Article, A satirical title generator for designers...</h4>
                <h5 class="_subH">Sub-Title of the Article, A satirical title generator for designers...</h5>
                <div class="_P">
                  <p>What would the museum in your imagination look like? It's a good idea to build your favorite museum in Mondo Museum, whether it's to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator"Mondo Museum" is a game that tests the player's ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.</p><span class="_buttonCover"><a class="_button" href="javascript:;">Button Description</a></span>
                </div>
              </div>
            </div>
          </article>
          <article class="_article typeFBoxR" typeFull-size="l">
            <div class="_backgroundWrap">
              <div class="_pc" style="background-image: url('https://picsum.photos/id/591/1000/650')"></div>
              <div class="_mobile" style="background-image: url('https://picsum.photos/id/809/650/1000')"></div>
            </div>
            <div class="_contentWrap">
              <div class="_wordCover">
                <h4 class="_H">This is the title of the Article, A satirical title generator for designers...</h4>
                <h5 class="_subH">Sub-Title of the Article, A satirical title generator for designers...</h5>
                <div class="_P">
                  <p>What would the museum in your imagination look like? It's a good idea to build your favorite museum in Mondo Museum, whether it's to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator"Mondo Museum" is a game that tests the player's ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.</p><span class="_buttonCover"><a class="_button" href="javascript:;">Button Description</a></span>
                </div>
              </div>
            </div>
          </article>
          <article class="_article typeFBoxR" typeFull-boxcolor="rgba(253, 202, 54, 0.5)" typeFull-size="l">
            <div class="_backgroundWrap">
              <div class="_pc" style="background-image: url('https://picsum.photos/id/930/1000/650')"></div>
              <div class="_mobile" style="background-image: url('https://picsum.photos/id/931/650/1000')"></div>
            </div>
            <div class="_contentWrap">
              <div class="_wordCover">
                <h4 class="_H">This is the title of the Article, A satirical title generator for designers...</h4>
                <h5 class="_subH">Sub-Title of the Article, A satirical title generator for designers...</h5>
                <div class="_P"> 
                  <p>What would the museum in your imagination look like? It's a good idea to build your favorite museum in Mondo Museum, whether it's to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator"Mondo Museum" is a game that tests the player's ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.</p><span class="_buttonCover"><a class="_button" href="javascript:;">Button Description</a></span>
                </div>
              </div>
            </div>
          </article>
          <article class="_article typeFBoxL" typeFull-Slice="on" typeFull-size="l">
            <div class="_backgroundWrap">
              <div class="_pc" style="background-image: url('https://picsum.photos/id/664/1000/650')"></div>
              <div class="_mobile" style="background-image: url('https://picsum.photos/id/813/650/1000')"></div>
            </div>
            <div class="_contentWrap" style="background-color: rgba(255, 255, 255, 0.5)">
              <div class="_wordCover">
                <h4 class="_H">This is the title of the Article, A satirical title generator for designers...</h4>
                <h5 class="_subH">Sub-Title of the Article, A satirical title generator for designers...</h5>
                <div class="_P">
                  <p>What would the museum in your imagination look like? It's a good idea to build your favorite museum in Mondo Museum, whether it's to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator"Mondo Museum" is a game that tests the player's ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.</p><span class="_buttonCover"><a class="_button" href="javascript:;">Button Description</a></span>
                </div>
              </div>
            </div>
          </article>
          <article class="_article" img-size="x169" img-row="x4">
            <div class="_contentWrap">
              <h4 class="_H">This is the title of the Article, A satirical title generator for designers...</h4>
              <div class="_imgCover">
                <div class="_cover">
                  <div class="_photo"><img src="https://picsum.photos/id/961/700/700" alt=""></div>
                  <p class="_description">Description</p>
                </div>
                <div class="_cover">
                  <div class="_photo"><img src="https://picsum.photos/id/404/700/400" alt=""></div>
                  <p class="_description">Description</p>
                </div>
                <div class="_cover">
                  <div class="_photo"><img src="https://picsum.photos/id/406/700/700" alt=""></div>
                  <p class="_description">Description</p>
                </div>
                <div class="_cover">
                  <div class="_photo"><img src="https://picsum.photos/id/932/580/780" alt=""></div>
                  <p class="_description">Description</p>
                </div>
              </div>
              <div class="_wordCover">
                <h5 class="_subH">Sub-Title of the Article, A satirical title generator for designers...</h5>
                <div class="_P">
                  <p>What would the museum in your imagination look like? It's a good idea to build your favorite museum in Mondo Museum, whether it's to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator"Mondo Museum" is a game that tests the player's ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.</p><span class="_buttonCover"><a class="_button" href="javascript:;">Button Description</a></span>
                </div>
              </div>
            </div>
          </article>
          <article class="_article typeD" swiper-num="3">
            <div class="_contentWrap">
              <h4 class="_H">This is the title of the Article, A satirical title generator for designers...</h4>
              <div class="_imgCover">
                <div class="swiper">
                  <div class="swiper-wrapper">
                    <div class="_cover swiper-slide">
                      <div class="_photo"><img src="https://picsum.photos/id/961/700/700" alt=""></div>
                      <p class="_description">Description</p>
                    </div>
                    <div class="_cover swiper-slide">
                      <div class="_photo"><img src="https://picsum.photos/id/404/700/400" alt=""></div>
                      <p class="_description">Description</p>
                    </div>
                    <div class="_cover swiper-slide">
                      <div class="_photo"><img src="https://picsum.photos/id/406/700/700" alt=""></div>
                      <p class="_description">Description</p>
                    </div>
                    <div class="_cover swiper-slide">
                      <div class="_photo"><img src="https://picsum.photos/id/932/580/780" alt=""></div>
                      <p class="_description">Description</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-button-cover"></div>
              </div>
              <div class="_wordCover">
                <h5 class="_subH">Sub-Title of the Article, A satirical title generator for designers...</h5>
                <div class="_P">
                  <p>What would the museum in your imagination look like? It's a good idea to build your favorite museum in Mondo Museum, whether it's to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator"Mondo Museum" is a game that tests the player's ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.</p><span class="_buttonCover"><a class="_button" href="javascript:;">Button Description</a></span>
                </div>
              </div>
            </div>
          </article>
          <article class="_article typeDL" swiper-arrow="on" swiper-num="2">
            <div class="_contentWrap">
              <h4 class="_H">This is the title of the Article, A satirical title generator for designers...</h4>
              <div class="_imgCover">
                <div class="swiper">
                  <div class="swiper-wrapper">
                    <div class="_cover swiper-slide">
                      <div class="_photo"><img src="https://picsum.photos/id/961/700/700" alt=""></div>
                      <p class="_description">Description</p>
                    </div>
                    <div class="_cover swiper-slide">
                      <div class="_photo"><img src="https://picsum.photos/id/404/700/400" alt=""></div>
                      <p class="_description">Description</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-button-cover"></div>
              </div>
              <div class="_wordCover">
                <h5 class="_subH">Sub-Title of the Article, A satirical title generator for designers...</h5>
                <div class="_P">
                  <p>What would the museum in your imagination look like? It's a good idea to build your favorite museum in Mondo Museum, whether it's to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator"Mondo Museum" is a game that tests the player's ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.</p><span class="_buttonCover"><a class="_button" href="javascript:;">Button Description</a></span>
                </div>
              </div>
            </div>
          </article>
          <article class="_article typeU" swiper-nav="off" swiper-num="3">
            <div class="_contentWrap">
              <h4 class="_H">This is the title of the Article, A satirical title generator for designers...</h4>
              <div class="_imgCover">
                <div class="swiper">
                  <div class="swiper-wrapper">
                    <div class="_cover swiper-slide">
                      <div class="_photo"><img src="https://picsum.photos/id/961/700/700" alt=""></div>
                      <p class="_description">Description</p>
                    </div>
                    <div class="_cover swiper-slide">
                      <div class="_photo"><img src="https://picsum.photos/id/404/700/400" alt=""></div>
                      <p class="_description">Description</p>
                    </div>
                    <div class="_cover swiper-slide">
                      <div class="_photo"><img src="https://picsum.photos/id/406/700/700" alt=""></div>
                      <p class="_description">Description</p>
                    </div>
                    <div class="_cover swiper-slide">
                      <div class="_photo"><img src="https://picsum.photos/id/932/580/780" alt=""></div>
                      <p class="_description">Description</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-button-cover"></div>
              </div>
              <div class="_wordCover">
                <h5 class="_subH">Sub-Title of the Article, A satirical title generator for designers...</h5>
                <div class="_P">
                  <p>What would the museum in your imagination look like? It's a good idea to build your favorite museum in Mondo Museum, whether it's to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator"Mondo Museum" is a game that tests the player's ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.</p><span class="_buttonCover"><a class="_button" href="javascript:;">Button Description</a></span>
                </div>
              </div>
            </div>
          </article>
          <article class="_article typeUR" swiper-autoplay="off" swiper-num="3">
            <div class="_contentWrap">
              <h4 class="_H">This is the title of the Article, A satirical title generator for designers...</h4>
              <div class="_imgCover">
                <div class="swiper">
                  <div class="swiper-wrapper">
                    <div class="_cover swiper-slide">
                      <div class="_photo"><img src="https://picsum.photos/id/961/700/700" alt=""></div>
                      <p class="_description">Description</p>
                    </div>
                    <div class="_cover swiper-slide">
                      <div class="_photo"><img src="https://picsum.photos/id/404/700/400" alt=""></div>
                      <p class="_description">Description</p>
                    </div>
                    <div class="_cover swiper-slide">
                      <div class="_photo"><img src="https://picsum.photos/id/406/700/700" alt=""></div>
                      <p class="_description">Description</p>
                    </div>
                    <div class="_cover swiper-slide">
                      <div class="_photo"><img src="https://picsum.photos/id/932/580/780" alt=""></div>
                      <p class="_description">Description</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-button-cover"></div>
              </div>
              <div class="_wordCover">
                <h5 class="_subH">Sub-Title of the Article, A satirical title generator for designers...</h5>
                <div class="_P">
                  <p>What would the museum in your imagination look like? It's a good idea to build your favorite museum in Mondo Museum, whether it's to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator"Mondo Museum" is a game that tests the player's ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.</p><span class="_buttonCover"><a class="_button" href="javascript:;">Button Description</a></span>
                </div>
              </div>
            </div>
          </article>
          <article class="_article typeR" swiper-loop="off" swiper-autoplay="off">
            <div class="_contentWrap">
              <div class="_imgCover">
                <div class="swiper">
                  <div class="swiper-wrapper">
                    <div class="_cover swiper-slide">
                      <div class="_photo"><img src="https://picsum.photos/id/961/700/700" alt=""></div>
                      <p class="_description">Description</p>
                    </div>
                    <div class="_cover swiper-slide">
                      <div class="_photo"><img src="https://picsum.photos/id/404/700/400" alt=""></div>
                      <p class="_description">Description</p>
                    </div>
                    <div class="_cover swiper-slide">
                      <div class="_photo"><img src="https://picsum.photos/id/406/700/700" alt=""></div>
                      <p class="_description">Description</p>
                    </div>
                    <div class="_cover swiper-slide">
                      <div class="_photo"><img src="https://picsum.photos/id/932/580/780" alt=""></div>
                      <p class="_description">Description</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-button-cover"></div>
              </div>
              <div class="_wordCover">
                <h4 class="_H">This is the title of the Article, A satirical title generator for designers...</h4>
                <h5 class="_subH">Sub-Title of the Article, A satirical title generator for designers...</h5>
                <div class="_P">
                  <p>What would the museum in your imagination look like? It's a good idea to build your favorite museum in Mondo Museum, whether it's to be displayed in a sub-category, or to show it all at once and make a sensation in the world. The museum simulator"Mondo Museum" is a game that tests the player's ability to manage. You can freely design the structure of the museum, from the planning of the exhibition hall to the location of the gift shop, laying different floors for each room, setting windows, and of course matching Create a first class museum on the wallpaper.</p><span class="_buttonCover"><a class="_button" href="javascript:;">Button Description</a></span>
                </div>
              </div>
            </div>
          </article>

  section.section2(data-noContent)
    .container
      .noData NO DATA


