extends ../layouts/_template.pug

block page
	- const page = 'error';
	- const css = 'error';

block fontSheet
	link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jost:wght@400;600&family=Noto+Sans+TC&display=swap")

block navbar

block content
	.content
		.inner
			.error-code._error error
				svg.cat(width='240' height='143' viewbox='0 0 240 143' fill='none' xmlns='http://www.w3.org/2000/svg')
					g(clip-path='url(#clip0_501_4644)')
						path(d='M141.807 68.2903C161.516 73.7068 162.924 96.1839 161.755 104.845C160.92 110.954 159.058 116.609 155.861 121.381L147.557 133.765L139.588 142.88H117.397L118.161 138.847C118.351 137.845 118.781 136.867 119.473 136.008C120.165 135.149 121.024 134.505 121.954 134.075L127.085 131.785L119.33 119.615C115.774 114.032 113.388 107.303 114.152 100.216C115.679 85.9237 124.675 63.5897 141.831 68.2903H141.807Z' fill='#D4B9AE')
						path(d='M150.016 42.5681C150.016 42.5681 173.781 44.7156 180.391 39.9195C188.384 34.0974 191.295 26.1279 190.746 19.065C189.887 8.04118 193.3 1.21692 203.536 0.143168C213.414 -0.882858 225.727 3.86549 233.529 17.1322C249.85 44.8588 232.002 81.6764 210.742 87.3553C194.039 91.8412 182.276 90.7675 172.397 80.5311C165.43 73.3012 149.992 42.5681 149.992 42.5681H150.016Z' fill='#E3CEC3')
						path(d='M55.8828 111.264L64.7114 134.6L61.18 135.674C60.321 135.936 59.5097 136.438 58.8654 137.201C58.2212 137.941 57.8633 138.824 57.744 139.73L57.3145 142.88H77.8111L81.3664 138.824C82.2016 137.893 82.8219 136.772 83.2276 135.507C83.6094 134.242 83.7048 132.954 83.5139 131.713L79.7916 104.726L55.8828 111.264Z' fill='#D4B9AE')
						path(d='M43.7382 39.156C62.5646 45.0258 91.5796 35.7439 117.755 36.1256C131.046 36.3165 148.965 41.3751 148.965 41.3751C155.647 42.4965 161.922 46.028 166.432 51.7785C170.918 57.5529 172.803 64.4964 172.278 71.2491L169.39 107.136C169.39 107.136 133.122 127.871 107.519 127.251C76.404 126.487 39.5625 116.251 39.5625 116.251L43.7382 39.2037V39.156Z' fill='#F2DFD5')
						path(d='M43.4519 96.4703C41.3759 97.6394 39.4193 99.1427 37.7491 101.004C36.0549 102.865 36.3174 104.702 35.363 106.874L22.2871 133.741L18.875 134.314C17.8967 134.481 16.9184 134.91 16.131 135.626C15.3197 136.342 14.7709 137.249 14.5084 138.203L13.196 142.832H35.4107L61.634 125.724C63.8292 124.292 65.7381 122.312 67.122 119.854C68.506 117.396 69.1741 114.748 69.2695 112.123L69.3888 107.709C69.532 102.555 66.9789 97.4724 62.2544 94.5852C57.5299 91.7219 51.8271 91.7935 47.3412 94.2989L43.4757 96.4464L43.4519 96.4703Z' fill='#F2DFD5')
						path(d='M153.522 64.568C176.214 69.9368 174.329 90.9584 173.136 99.5961C172.325 105.704 169.963 112.052 167.648 117.54L175.188 124.937C176.238 125.963 176.954 127.346 177.097 128.921C177.264 130.496 176.859 131.999 176.047 133.216L169.653 142.856H147.438L148.225 138.824C148.416 137.821 148.846 136.843 149.538 135.984C150.206 135.125 151.065 134.481 151.995 134.051L157.125 131.761L130.687 119.592C127.132 114.008 122.479 104.392 122.264 97.2577C121.787 80.3879 136.199 60.4639 153.499 64.5442L153.522 64.568Z' fill='#F2DFD5')
						path(d='M2.64898 43.1408C7.42119 36.1972 34.3365 27.5834 35.2909 27.9174C36.2453 27.5595 63.1606 36.1972 67.9328 43.1408C72.7289 50.1321 68.6248 66.286 65.2842 74.0886C61.1324 83.7762 38.4883 104.607 35.2909 107.518C32.0935 104.607 9.44938 83.7762 5.29755 74.0886C1.95701 66.3099 -2.14709 50.1321 2.64898 43.1408Z' fill='#E3CEC3')
						path(d='M14.1735 27.6311C15.5097 25.8654 17.2754 24.3383 19.399 23.2884C21.5465 22.2385 23.8133 21.7374 26.0324 21.7374H44.5486C46.7915 21.7374 49.0345 22.2385 51.182 23.2884C53.3295 24.3383 55.0713 25.8415 56.4314 27.6311L70.6049 46.362L56.4075 61.4422C54.5941 63.375 52.1364 64.7112 49.3208 65.1407C46.5052 65.5463 44.3338 64.8305 42.0432 63.4943L35.2905 56.7655L28.5617 63.4943C26.271 64.8066 24.0997 65.5463 21.2602 65.1407C18.4446 64.7112 15.9869 63.375 14.1735 61.4422L0 46.362L14.1735 27.6311Z' fill='#F2DFD5')
						path(d='M19.1846 44.7395C19.1846 45.67 19.5425 46.6245 20.2583 47.3403C20.9741 48.0561 21.9286 48.4141 22.8592 48.4141H47.8417C48.7723 48.4141 49.7029 48.0561 50.3948 47.3642C51.1107 46.6722 51.4447 45.7416 51.4447 44.811V44.2861C51.4447 43.3794 51.0868 42.4727 50.3948 41.7807C49.7029 41.0887 48.7961 40.7308 47.8894 40.7308H22.8353C21.9047 40.7308 20.9741 41.0887 20.2583 41.8046C19.5425 42.5204 19.1846 43.451 19.1846 44.4054V44.7633V44.7395Z' fill='#E3CEC3')
						path(d='M58.2452 19.0888L48.653 22.3101L48.0088 28.6571L58.2452 19.0888Z' fill='#E3CEC3')
						path(d='M60.4881 31.8306C60.3449 32.7851 59.7245 33.6679 58.7462 34.0736C57.7918 34.5031 56.718 34.3838 55.9067 33.835L47.9849 28.6571L57.1714 19.6376C58.0304 18.7786 59.3904 18.54 60.5119 19.1366C61.6572 19.7331 62.2299 20.9739 62.039 22.1669L60.4642 31.8306H60.4881Z' fill='#DB9E9B')
						path(d='M12.3601 19.0888L21.9523 22.3101L22.6204 28.6571L12.3601 19.0888Z' fill='#E3CEC3')
						path(d='M10.1176 31.8306C10.2608 32.7851 10.905 33.6679 11.8595 34.0736C12.8139 34.5031 13.8876 34.3838 14.6989 33.835L22.6208 28.6571L13.4104 19.6376C12.5276 18.7786 11.1913 18.54 10.0699 19.1366C8.92454 19.7331 8.35188 20.9739 8.54277 22.1669L10.1176 31.8306Z' fill='#DB9E9B')
						path(d='M29.7073 60.2253C29.7073 64.3294 32.2127 67.6699 35.2908 67.6699C38.3688 67.6699 40.8742 64.3294 40.8742 60.2253C40.8742 56.1212 38.3688 52.7806 35.2908 52.7806C32.2127 52.7806 29.7073 56.1212 29.7073 60.2253Z' fill='#F2DFD5')
						path(d='M40.0391 56.3121C39.0608 54.1884 37.3189 52.7806 35.3146 52.7806C33.3102 52.7806 31.5684 54.1884 30.5901 56.3121H40.0629H40.0391Z' fill='#DB9E9B')
						path(d='M35.8163 46.9585C36.3173 46.4575 36.9616 46.1473 37.6058 46.0518C38.0831 46.0995 38.5603 46.195 39.0136 46.362C39.7056 46.6006 40.3499 46.9347 40.8987 47.3642L51.4214 55.3099C52.6622 56.2644 53.4973 57.7199 53.5927 59.414C53.6643 61.0127 53.0678 62.4921 52.0179 63.542C50.5147 64.8305 48.4865 65.7611 46.3867 65.3316C40.3021 64.1624 38.2978 59.2231 36.5798 56.3837C36.1026 55.5962 35.6015 54.8327 35.2913 53.926C35.005 53.0192 34.8618 52.0887 34.8618 51.1819V49.2731C34.8618 48.4379 35.172 47.6267 35.8163 46.9824V46.9585Z' fill='#FFEEE5')
						path(d='M34.7901 46.9585C34.289 46.4575 33.6448 46.1473 33.0005 46.0518C32.5233 46.0995 32.0461 46.195 31.5927 46.362C30.9007 46.6006 30.2565 46.9347 29.7077 47.3642L19.185 55.3099C17.9442 56.2644 17.109 57.7199 17.0136 59.414C16.942 61.0127 17.5385 62.4921 18.5884 63.542C20.0917 64.8305 22.1199 65.7611 24.2196 65.3316C30.3042 64.1624 32.3085 59.2231 34.0027 56.3837C34.4799 55.5962 34.981 54.8327 35.2912 53.926C35.6014 53.0192 35.7207 52.0887 35.7207 51.1819V49.2731C35.7207 48.4379 35.4105 47.6267 34.7662 46.9824L34.7901 46.9585Z' fill='#FFEEE5')
						path(d='M32.9047 48.1039C32.9047 48.1039 31.7833 47.8414 31.4731 47.4358C30.805 46.4813 31.3538 45.0974 32.2366 44.2145C33.0956 43.3555 34.1932 42.926 35.3147 42.8783C36.4362 42.926 37.5338 43.3555 38.3689 44.2145C39.2518 45.0974 39.7767 46.4575 39.1325 47.4119C38.87 47.7937 37.9871 48.1039 37.9871 48.1039H32.9047Z' fill='#F2DFD5')
						path(d='M35.2665 50.0366L37.3186 47.9607C37.4856 47.7937 37.5572 47.5073 37.4379 47.2687C37.3424 47.0301 37.1038 46.8631 36.8413 46.8631H33.7394C33.5008 46.8631 33.2383 47.0063 33.1429 47.2687C33.0474 47.5312 33.0952 47.7937 33.2622 47.9846L35.2427 50.0366H35.2665Z' fill='#DB9E9B')
						path(d='M41.7815 44.5963C41.7815 42.9022 43.1416 41.5421 44.8357 41.5421C46.5298 41.5421 47.9138 42.926 47.9138 44.5963C47.9138 46.2666 46.5537 47.6505 44.8357 47.6505C43.1177 47.6505 41.7815 46.2904 41.7815 44.5963Z' fill='#C77710')
						path(d='M43.1899 44.5963C43.1899 43.5226 43.9296 42.6636 44.8364 42.6636C45.7431 42.6636 46.4828 43.5226 46.4828 44.5963C46.4828 45.6701 45.7431 46.5291 44.8364 46.5291C43.9296 46.5291 43.1899 45.6701 43.1899 44.5963Z' fill='black')
						path(d='M42.7358 44.5009C42.7358 44.8826 43.046 45.1928 43.4278 45.1928C43.8096 45.1928 44.1198 44.8826 44.1198 44.5009C44.1198 44.1191 43.8096 43.8089 43.4278 43.8089C43.046 43.8089 42.7358 44.1191 42.7358 44.5009Z' fill='white')
						path(d='M22.6924 44.5963C22.6924 42.9022 24.0763 41.5421 25.7705 41.5421C27.4646 41.5421 28.8247 42.926 28.8247 44.5963C28.8247 46.2666 27.4407 47.6505 25.7705 47.6505C24.1002 47.6505 22.6924 46.2904 22.6924 44.5963Z' fill='#C77710')
						path(d='M24.1006 44.5963C24.1006 43.5226 24.8403 42.6636 25.7709 42.6636C26.7014 42.6636 27.4173 43.5226 27.4173 44.5963C27.4173 45.6701 26.6776 46.5291 25.7709 46.5291C24.8641 46.5291 24.1006 45.6701 24.1006 44.5963Z' fill='black')
						path(d='M23.6465 44.5009C23.6465 44.8826 23.9567 45.1928 24.3385 45.1928C24.7202 45.1928 25.0304 44.8826 25.0304 44.5009C25.0304 44.1191 24.7202 43.8089 24.3385 43.8089C23.9567 43.8089 23.6465 44.1191 23.6465 44.5009Z' fill='white')
					defs
						clippath#clip0_501_4644
							rect(width='239.899' height='142.88' fill='white')
			.title Sorry, there’s something wrong
			.description
				p.en Please contact your website administrator. We will fixed it soon.
				p.ch 請回報給您的管理人員，我們將會儘速排除。
			a.back-home(href="./index.html")
				.text Home Page 返回首頁
				.countdown 5

block footer