modern-modal(data-modal-id="video-ig-template" video-template data-modal-template-setting="destroy")
  .close-button(data-modal-destroy="data-modal-destroy")
  //- 純展示使用, 後端那邊會有自己的 ajax 燈箱結構
  //- 以下可自行修改, 放 ig 嵌入碼
  <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/C1O1Sh-vAIW/?img_index=1"></blockquote><script async src="//https://www.instagram.com/embed.js"></script>
