doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 0419 Homework
    link(href="./index.css" rel='stylesheet')
  body 
    section.modal 
      .modal 
        button.open-btn Click to open Modal
        .modal-content 
          .inner 
            h2.title This is title
            p.des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis velit deserunt pariatur, laborum voluptas neque dolor maiores sit consequuntur aperiam explicabo, ullam minima quae voluptates reiciendis, quis magni fugit veritatis.
            .close-btn X
    section.dropdown 
      .drop 
        button.dropdown-btn Select your item
        ul.dropdown-menu 
          - const list = ["item01","item02","item03","item04",]
          each item in list 
            li= item
    section.tabs
      -
        const tabList = [
          {
            num:'Page ',
            title:'First Tab Title',
            content:'TextareaTextareaTextareaTextareaTextareaTextareaTextareaTextareaTextareaTextareaTextareaTextarea',
          },
          {
            num:'Page ',
            title:'Second Tab Title',
            content:'TextareaTextareaTextareaTextareaTextareaTextareaTextareaTextareaTextareaTextareaTextareaTextarea',
          },
          {
            num:'Page ',
            title:'Third Tab Title',
            content:'TextareaTextareaTextareaTextareaTextareaTextareaTextareaTextareaTextareaTextareaTextareaTextarea',
          },
          {
            num:'Page ',
            title:'Fourth Tab Title',
            content:'TextareaTextareaTextareaTextareaTextareaTextareaTextareaTextareaTextareaTextareaTextareaTextarea',
          },
        ];
      .tabs-nav 
        ul 
          each tab,index in tabList
            li.tab(data-tab= index+1)= tab.num + index
      .tabs-content 
        each item,index in tabList
          .content(data-tab= index+1)
            h3=item.title
            p=item.content

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js")
    script(src="./index.js")